* {
    border: dashed 1px red;
    padding: 10px;
    margin: 50px;
}

body {
    border: solid 3px black;
    background-color: lightyellow;
}

header {
    border: solid 3px hotpink;
    background-color: pink;
}

footer {
    border: solid 3px green;
    background-color: lightgreen;
}

main {
    border: solid 3px blue;
    background-color: lightcyan;
}