h1 {
    color: saddlebrown;
}

li {
    color: mediumblue;
}

a {
    color:saddlebrown;
}
body {
    background-color: lemonchiffon;
}

h1 {
    color: black;
    border: 5px solid ;
    text-align: center;
    background-color: pink;
}

a {
    color: hotpink;
}

h2 {
    background-color: darkseagreen ;
    text-align: center;
    border: 5px solid ;
    color: black;
}