h1 {
    color: saddlebrown;
}

li {
    color: mediumblue;
}

a {
    color:saddlebrown;
}
body {
    background-color: lemonchiffon;
}

h1 {
    color: black;
    border: 1px solid ;
    background-color: pink;
}

a {
    color: hotpink;
}